<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('sidebar') -%>
    <main>
      <h1><%= title %></h1>

      <p>Do you really want to delete this item?</p>

      <form method="POST">
        <div class="form-group">
          <input
            id="itemid"
            class="form-control"
            type="hidden"
            name="itemid"
            value="<%= item._id %>"
          />
        </div>

        <button class="btn btn-primary" type="submit">Delete</button>
      </form>
    </main>
  </body>
</html>
