<nav>
  <li><a href="/">Home</a></li>
  <hr />
  <li><a href="/inventory/category">Select a category</a></li>
  <hr />
  <li><a href="/inventory/item/create">Create new item</a></li>
  <li><a href="/inventory/category/create">Create new category</a></li>
</nav>
